//══════════════════════════════════════
//           DEFUALT STYLES
//══════════════════════════════════════

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	background-image: url(../../images/crossword.png);
	background-repeat: repeat;
}
