//══════════════════════════════════════
//           DEFUALT STYLES
//══════════════════════════════════════

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

.mejs__video, .mejs__container {
	max-width: 100vw;
	max-height: 100%;
	margin: 0 auto;
	display: block;
}
